@tailwind base;
@tailwind components;
@tailwind utilities;


/* width */
::-webkit-scrollbar {
    width: 8px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #a3a2a2;
    border-radius: 5px;
  }
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888;
    /* background: #555; */
}

@media (max-width: 768px) {
  body {
    padding-right: 0; /* No padding on small screens */
  }
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0;
    transform: translateY(-5px);
  }
}

[contenteditable=true]:empty:before{
  content: attr(placeholder);
  pointer-events: none;
  color: #959292;
  /* display: block; For Firefox */
}